<!-- This is a go template. It takes only one argument - the page title -->
<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="{{.pagetitle}}">
    <meta name="author" content="Julio">
    <link rel="icon" href="/resources/{{.picsprefix}}favicon.ico?" type="image/x-icon">

    <title>{{.pagetitle}}</title>

    <!-- Bootstrap core CSS -->
    <link href="/resources/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Bootstrap theme -->
    <link href="/resources/dist/css/bootstrap-theme.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/local_resources/local.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

  </head>


  <body>

    <div class="container">

      <!-- Top banner -->
      <div style="background-image: url(/resources/{{.picsprefix}}banner.png); background-size: 100%">
        <div class="row">
          <div class="col-sm-8">
            <div style="text-align:left; padding-left: 20px; padding-top: 20px; padding-bottom: 10px;">
              <img src="/resources/{{.picsprefix}}logo.png" style="height:65px;">
              <!--font style="color: white; font-family:Helvetica; font-size:350%;">SanLab.io &nbsp</font-->
              <font style="color: white; font-family:Helvetica; font-size:200%;">{{.pagetitle}}</font>
            </div>
          </div>
          <div class="col-sm-4">
            <div style="text-align:right; padding-right: 20px; padding-top: 20px; padding-bottom: 10px;">
              <font style="color: white; font-family:Helvetica; font-size:100%;">Logged in as {{.login}} {{if .adminrights}}(admin){{end}}</font>
              <font style="color: white; font-family:Helvetica; font-size:350%;">&nbsp</font>
            </div>
          </div>
        </div>
      </div>

      <nav class="navbar navbar-default">
            <ul class="nav navbar-nav">
              <li id="logout" align="right"><a href="/logout">Logout</a></li>
              <li id="change_password"><a href="#" data-toggle="modal" data-target="#changepwdModal">Change Password</a></li>
              <li id="internalTransfer"><a href="#" data-toggle="modal" data-target="#intTransferModal">Send internal transfer</a></li>
              <li id="externalTransfer"><a href="#" data-toggle="modal" data-target="#extTransferModal">Send external transfer</a></li>
              <li id="BIC Code"><a href="#" data-toggle="modal" data-target="#bicCodeModal">BIC Code</a></li>
            </ul>
      </nav>

      {{range .alerts}}
      <div class="alert alert-{{.AlertType}}" role="alert"><strong>{{.Msg}}</strong></div>
      {{end}}

      <!-- Then the modal to change password -->
      <div class="modal fade" id="changepwdModal" tabindex="-1" role="dialog" aria-labelledby="changepwdModalLabel">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <form action="/change_password" method="post">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="manageModalLabel">Change password</h4>
              </div>
              <div class="modal-body">
                <table>
                  <tr>
                    <td class="col-sm-3"><label class="control-label">New password:</label></td>
                    <td class="col-sm-6"><span class="form-newlogin"><input type="password" name="newpassword" class="form-control"></span></td>
                  </tr>
                  <tr>
                    <td class="col-sm-3"><label class="control-label">Repeat password:</label></td>
                    <td class="col-sm-6"><span class="form-newlogin"><input type="password" name="passwordagain" class="form-control"></span></td>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="submit" name="submit" value="create" id="changebutton" class="btn btn-primary form-changebutton">Change</button>
              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </form>
          </div>
        </div>
      </div>


    <!-- </div> (container) to be closed! -->

    <!-- And this is it for the header. The next template(s) should close the container and the body -->
